<ion-view title="Instalaciones" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="SearchFacility">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 32px;"></div>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Nombre instalación</h2>
                <p>Población</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>