<ion-view title="Login" id="page5">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <a style="display:inline-block;" href="#" onclick="window.open('http://51.254.97.198/NFU/#/', '_system', 'location=yes'); return false;">
                <div style="text-align:left;">
                    <img src="img/x7OTrg9bSuKsBOlzzHXB_logo.svg" width="100%" height="50">
                </div>
            </a>
            <div class="spacer" style="width: 285px; height: 25px;"></div>
            <div>
                <p>
                    <b>INICIAR SESIÓN:</b>
                </p>
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Usuario">
            </label>
            <ion-list></ion-list>
            <div class="spacer" style="width: 285px; height: 7px;"></div>
            <label class="item item-input">
                <input type="password" placeholder="Password">
            </label>
            <div class="spacer" style="width: 285px; height: 25px;"></div>
            <a ui-sref="mENU.partidas" id="login-button1" class="button button-positive  button-block">Iniciar sesion</a>
            <div class="spacer" style="width: 285px; height: 25px;"></div>
            <ion-item ui-sref="signup">Crear Cuenta</ion-item>
            <div class="spacer" style="width: 285px; height: 17px;"></div>
            <ion-list>
                <ion-item ui-sref="recordarPassword">Recuperar Contraseña</ion-item>
            </ion-list>
        </form>
    </ion-content>
</ion-view>
