<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">MENU</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <div style="text-align:center;">
                <img src="img/pWuvU6z7RNeyVpuTFqws_logo.svg" width="100%" height="100">
            </div>
            <ion-list>
                <ion-item ui-sref="mENU.partidas" menu-close="">Partidas</ion-item>
                <ion-item ui-sref="mENU.instalaciones" menu-close="">Instalaciones</ion-item>
                <ion-item ui-sref="mENU.miPerfil" menu-close="">Mi perfil</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>