<ion-view title="Modificar datos" id="page14">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h3 id="modificarDatos-heading6" style="color:#000000;">Datos Personales:</h3>
            <label class="item item-input" name="ProfileName">
                <span class="input-label">Usuario*:</span>
                <input type="text" placeholder="nombre partida">
            </label>
            <div class="spacer" style="width: 285px; height: 15px;"></div>
            <h5 id="modificarDatos-heading9" style="color:#000000;">Género:</h5>
            <ion-checkbox name="ProfileFemale">Femenino</ion-checkbox>
            <ion-checkbox name="ProfileMale">Masculino</ion-checkbox>
            <div class="spacer" style="width: 285px; height: 15px;"></div>
            <label class="item item-input" name="ProfileDate">
                <span class="input-label">Fecha Nacimiento*:</span>
                <input type="date" placeholder="">
            </label>
            <h3 id="modificarDatos-heading7" style="color:#000000;">Por dónde juegas:</h3>
            <label class="item item-input" name="ProfileCity">
                <span class="input-label">Ciudad:</span>
                <input type="text" placeholder="Ciudad">
            </label>
            <div class="spacer" style="width: 285px; height: 15px;"></div>
            <h3 id="modificarDatos-heading11" style="color:#000000;">Contacto:</h3>
            <label class="item item-input" name="ProfilePhone">
                <span class="input-label">Teléfono:</span>
                <input type="tel" placeholder="Teléfono">
            </label>
            <div class="spacer" style="width: 285px; height: 15px;"></div>
            <label class="item item-input" name="ProfileEmail">
                <span class="input-label">Email*:</span>
                <input type="email" placeholder="Email">
            </label>
            <h3 id="modificarDatos-heading8" style="color:#000000;">Tus deportes:</h3>
            <h5 id="modificarDatos-heading12" style="color:#000000;">Nivel:</h5>
            <ion-checkbox name="ProfileLow">Bajo</ion-checkbox>
            <ion-checkbox name="ProfileMedium">Medio</ion-checkbox>
            <ion-checkbox name="ProfileHigh">Alto</ion-checkbox>
            <h5 id="modificarDatos-heading13" style="color:#000000;">Preferencias deportes:</h5>
            <label class="item item-select" name="ProfileSport">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <a ui-sref="mENU.miPerfil" id="modificarDatos-button9" class="button button-positive  button-block">Modificar</a>
            <h5 id="modificarDatos-heading14" style="color:#000000;text-align:right;">*Campos Obligatorios</h5>
        </form>
    </ion-content>
</ion-view>