<ion-view title="Nueva Partida" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h3 id="nuevaPartida-heading1" style="color:#000000;">Paso 1: Nombre y deporte</h3>
            <label class="item item-input" name="NewGameName">
                <span class="input-label">Nombre:</span>
                <input type="text" placeholder="nombre partida">
            </label>
            <div class="spacer" style="width: 285px; height: 15px;"></div>
            <label class="item item-select" name="NewGameSport">
                <span class="input-label">Deporte:</span>
                <select>
                    <option>Futbol</option>
                    <option>Basquet</option>
                </select>
            </label>
            <h3 id="nuevaPartida-heading2" style="color:#000000;">Paso 2: Dónde y Cuándo</h3>
            <label class="item item-input" name="NewGameSearch">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar instalación">
            </label>
            <a ui-sref="mENU.crearInstalaciN" id="nuevaPartida-button19" class="button button-positive  button-block">No lo encuentras, añádela!</a>
            <label class="item item-input" name="NewGameDate">
                <span class="input-label">Dia:</span>
                <input type="date" placeholder="Dia de la partida">
            </label>
            <div class="spacer" style="width: 285px; height: 15px;"></div>
            <label class="item item-input" name="NewGameHour">
                <span class="input-label">Hora:</span>
                <input type="text" placeholder="Hora de la partida">
            </label>
            <div class="spacer" style="width: 285px; height: 15px;"></div>
            <label class="item item-input" name="NewGameNameDuration">
                <span class="input-label">Duración:</span>
                <input type="text" placeholder="Duración partida">
            </label>
            <h3 id="nuevaPartida-heading3" style="color:#000000;">Paso 3: Configuración</h3>
            <label class="item item-input" name="NewGamePlayers">
                <span class="input-label">Plazas</span>
                <input type="number" placeholder="Número de plazas">
            </label>
            <h5 id="nuevaPartida-heading4" style="color:#000000;">Tipo de entrada:</h5>
            <ion-checkbox name="NewGameFree">Gratuita</ion-checkbox>
            <div class="spacer" style="width: 285px; height: 15px;"></div>
            <ion-checkbox name="NewGamePay">Pago</ion-checkbox>
            <div class="spacer" style="width: 285px; height: 15px;"></div>
            <label class="item item-input" name="NewGamePrice">
                <span class="input-label">Precio</span>
                <input type="text" placeholder="Precio entrada">
            </label>
            <a ui-sref="mENU.miPerfil" id="nuevaPartida-button20" class="button button-positive  button-block">Crear Partida</a>
        </form>
    </ion-content>
</ion-view>