<ion-view title="Partidas" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="SearchGame">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Buscar partidas ">
            </label>
            <div class="spacer" style="width: 285px; height: 33px;"></div>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </form>
    </ion-content>
</ion-view>