<ion-view title="Partida " id="page12">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="button-bar">
            <button id="partida-button10" class="button button-positive  button-block">1</button>
            <button id="partida-button11" class="button button-positive  button-block">2</button>
            <button id="partida-button12" class="button button-positive  button-block">3</button>
        </div>
        <div class="button-bar">
            <button id="partida-button13" class="button button-positive  button-block">1</button>
            <button id="partida-button15" class="button button-positive  button-block">3</button>
        </div>
        <button id="partida-button14" class="button button-balanced  button-block">Jugar</button>
        <h4 id="partida-heading15" style="color:#000000;">Normas:</h4>
        <div id="partida-markdown1" style="color:#000000;">
            <p>Prohibido borrarse del evento una vez inscrito o encontrar sustituto(Si no posible sanción)</p>
        </div>
    </ion-content>
</ion-view>