<ion-view title="Recordar Password" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h3 id="recordarPassword-heading5" style="color:#000000;">Introduzca Email:</h3>
            <div class="spacer" style="width: 285px; height: 16px;"></div>
            <label class="item item-input" name="SignUpEmail">
                <input type="email" placeholder="Email">
            </label>
            <div class="spacer" style="width: 285px; height: 16px;"></div>
            <button id="recordarPassword-button6" class="button button-positive  button-block">Enviar</button>
        </form>
    </ion-content>
</ion-view>