<ion-view title="Signup" id="page9">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="SignUpName">
                <span class="input-label">Usuario</span>
                <input type="text" placeholder="Usuario">
            </label>
            <div class="spacer" style="width: 285px; height: 16px;"></div>
            <label class="item item-input" name="SignUpPassword">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
            <div class="spacer" style="width: 285px; height: 16px;"></div>
            <label class="item item-input" name="SignUpPassword2">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Confirmar Password">
            </label>
            <div class="spacer" style="width: 285px; height: 16px;"></div>
            <label class="item item-input" name="SignUpEmail">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
            </label>
            <div class="spacer" style="width: 285px; height: 16px;"></div>
            <label class="item item-input" name="SignUpEmail">
                <span class="input-label">Fecha Nacimiento</span>
                <input type="date" placeholder="Nacimiento">
            </label>
            <button id="signup-button4" class="button button-positive  button-block">Registrate!</button>
        </form>
    </ion-content>
</ion-view>